html {
  scroll-behavior: smooth;
}

body {
  font-family: Gilroy, sans-serif;
  /* color: #0c0c0c;
	  background-color: rgba(255, 255, 255, 0.87); */

  /* font-family: 'Jost', sans-serif; */
  font-size: 2rem;
  color: #31312f;
  background: #fffefc;
  overflow-x: hidden;
  max-width: 100%;
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
}

:root {
  --font-family: 'Gilroy', sans-serif;
  --main: #0c0c0c;
  --accent: #3350e9;
  --background: #fbfbfb;
  --cards: #f3f3f3;
}
/* .container {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
} */

/* ---MOBILE MEDIA--- */

@media screen and (max-width: 374px) {
  .section {
    padding-bottom: 60px;
  }

  .container {
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
  }

  .section {
    padding-bottom: 60px;
  }
}

/* ---TABLET MEDIA---*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    padding-bottom: 80px;
  }
}

/* ---DESCTOP MEDIA--- */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 65px;
    padding-right: 65px;
  }

  .section {
    padding-bottom: 100px;
  }
}
